<button style="background-color: white; border: solid 1px black" @onclick="() => ChangeColor()">
    <span>Random</span>
</button>

@foreach (var colorString in _colors)
{
    <button style="background-color: @colorString" @onclick="() => ChangeColor(colorString)">
        <span>@colorString</span>
    </button>
}
