@page "/counter"
@using StarlightAdmin.Manager;

<PageTitle>Counter</PageTitle>

<h1>Brightness</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="BrightnessMinus">-</button>
<button class="btn btn-primary" @onclick="BrightnessAdd">+</button>

@code {
    private int currentCount = 100;

    private async Task BrightnessMinus()
    {
        await btManager.ConnectWithDeviceAsync();

        currentCount -= 10;

        currentCount = Math.Max(currentCount, 0);

        await btManager.SetBrightnessAsync(currentCount);
    }

    private async Task BrightnessAdd()
    {
        await btManager.ConnectWithDeviceAsync();

        currentCount += 10;

        currentCount = Math.Min(currentCount, 100);

        await btManager.SetBrightnessAsync(currentCount);
    }

    [Inject]
    IBluetoothManager btManager { get; set; }

}